/* default properties */

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: black;
}

/* logo */

#logo {
    width: 150px;
    margin-left: 30px;
    float: left;
}

/* menu */

#nav-menu {
    font-size: 100%;
    float: right;
    display: inline;
    margin-top: 20px;
}

#nav-menu li {
    list-style-type: none;
    display: inline-block;
    margin-right: 30px;
}

#nav-menu a {
    text-decoration: none;
    color: inherit;
}

#nav-menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

/* hero section */

#hero-outer {
    width: 100%;
    overflow: hidden;
    position: relative;
}

#hero-image {
    height: 400px;
    width: 100%;
    background: url('../images/hero_image.jpg') center center;
    margin-bottom: 30px;

    /* animates zoom effect on loading page */
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* creates the level of zoom for hero image */
@keyframes hero-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

#hero-text {
    font-family: 'Calligraffitti', cursive;
    width: 100%;
    height: 150px;
    text-align: center;
    color: black;
    margin-top: 50px;
}

#hero-text>h3 {
    text-align: center;
    position: relative;
}

/* projects */

#projects-carrousel {
    width: 100%;
    height: auto;
}

.projects {
    width: 240px;
    text-align: left;
    display: inline-block;
}

.projects>h3 {
    text-align: center;
}

.projects>p {
    margin-left: 10px;
}

.thumbnail {
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 150px;
    margin: 0 15% 0 15%;
}

/* tools */

#tools-level {
    width: 100%;
    height: auto;
}

#tools-level>h4 {
    text-align: center;
}

/* REF: align content within a div https: //stackoverflow.com/questions/7926540/css-center-content-inside-div */

.tools-icons {
    width: 100px;
    height: 40px;
    display: inline-block;
    text-align: center;
    margin-right: 40px;
}

.tools-icons>a {
    display: inline-block;
}

.tools-icons>a>img {
    max-width: 100%;
    max-height: 100%;
}

.tools-icons>img {
    width: 100px;
    height: 40px;
}

/* footer */

footer {
    height: auto;
    width: 100%;
    background-color: #f0f0f0;
}

#footer-left {
    width: 33%;
    height: 100px;
    float: left;
    margin-top: 20px;
}

#footer-center {
    width: 33%;
    height: 100px;
    text-align: center;
    margin: 0 auto;
    display: inline-block;
}

#footer-right {
    width: 32%;
    height: 100px;
    text-align: right;
    margin-top: 30px;
    display: inline-block;

}

#footer-right>span {
    font-size: 180%;
    display: inline;
    letter-spacing: 50px;
}

.social-netowrk-icons {
    color: black;
}